/*==================== Layout ===================*/
body{
    margin-bottom: 150px;
}

.container{
    max-width: 1150px;
}

#form>.container{
    background-color: #EDF6F9;
}

/*============================== PAGE index =============================*/

/*==================== Header ===================*/
header{
    border-bottom: 1px solid #CCCCCC;
    padding: 10px 0;
}

header h1{
 font-size: 32px;
 margin-top: 50px;
}
/*==================== Apresentação ===================*/
a:link{
    text-decoration: underline;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #00AEEF;
}

a:visited{
    text-decoration: underline;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #00AEEF;
}

#presentation a:link{
    float: right;
    padding-top: 20px;
}

#presentation h1{
    font-size: 22px;
    padding-top: 0;
}

#description p{
    text-align: center;
    color: #4A4A4A;
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

/*==================== Formulário ===================*/
.halfWidth{
    width: 50%;
    float: left;
}

#form h1{
    font-size: 22px;
    padding-top: 15px;
}

#form label{
    font-weight: normal;
    font-size: 14px;
    color: #00AEEF;
    font-family: 'Roboto', sans-serif;
}

#form input{
    background: #FFFFFF;
    border-radius: 8px;
}

.formStyle{
    padding-right: 5px;
}

#form button{
    background: #00AEEF;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;
    margin-bottom: 15px;
    border-color: #00AEEF;
}

.alertInsertion{
    background-color: #7ED321;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 16px;
}

.alertStyleError{
    background-color: #D0021B;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 16px;
}


/*==================== Footer ===================*/
footer{
    background-color: #EEEEEE;
    margin-top: 30px;
    padding: 5px 0;
}

footer h3{
    font-family: 'Roboto', sans-serif;
    color: #00AEEF;
    font-size: 16px;
    font-weight: bold;
}

/*============================== PAGE listClient =============================*/

/*==================== Navegação ===================*/
.navLink{
    float: right;
    padding: 15px 0;
}

#navigation h1{
    font-size: 22px;  
}

.lineUp{
    display: inline-block;
    padding: 15px 0;
}

#navigation h4{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #4A4A4A;
    font-weight: bold;
}

#navigation span{
    color: #00AEEF;
}

/*==================== Listagem ===================*/
.tableStyle{
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.tableRowStyle{
    border-bottom: 1px solid #979797;
}

.tableRowStyle:last-child{
    border: 0;
}

.clientName{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #4A4A4A;
    padding-bottom: 0;
    margin-bottom: 0;
}

.clientInfo{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #00AEEF;
    padding-top: 0;
    margin-top: 0;
}


#list>.container{
    background-color: #EDF6F9;
}

/*==================== General Text Formatation ===================*/
h1{
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #00AEEF;
}

h3{
    text-align: center;
    text-transform: uppercase;
}

